@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-fondo: #78c1f3;
  --color-card: #e3f6ff;
  --color-primario: #a0bfe0;
  --color-secundario: #7895cb;
  --color-text: #ffffff;
  --color-text-2: #333;
  --color-botones: #43aa9f;
}

body {
  /* background-color: var(--color-fondo); */
  /*background-color: #111;*/
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('https://i.ibb.co/s301MBF/1a1a0631-c55a-4524-aa11-05445f729357.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: "Quicksand", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.header {
  padding: 0 40px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  position: fixed;
  top: 0;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIidovDIBqNnL0otKrZVFgZ1wOc7biGFQNsA&usqp=CAU') no-repeat;
  background-size: cover;
  z-index: 2;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Ajusta el nivel de opacidad según tus preferencias */
  z-index: -1;
}

#searchContainer {
  position: relative; /* Change to relative positioning */
  margin-top: 100px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

#searchInput {
  padding: 8px 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid white;
  color: white;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgFLTykapuA2rj4IERlAZtGYjr2Y4Srw0KTg&usqp=CAU');
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

#searchInput::placeholder {
  color: #fff;
}


#searchButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #45a049;
}


.separador {
  display: block;
  width: 100%;
  font-weight: bold;
  color: var(--color-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  text-align: center;
  margin: 25px 0;
}

/*menu*/
.logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hambueger {
  display: none;
}
.nav-bar ul {
  display: flex;
  padding: 0 45px;
  gap: 15px;
}

.nav-bar ul li a {
  padding: 10px 25px;
  display: block;
  color: var(--color-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  border-radius: 6px;
  transition: background-color 0.2s;
  
}

.nav-bar ul li a:hover {
  background-color: #333;
  color: var(--color-text);
}

.nav-bar ul li a.active {
  background-color: #333;
  color: var(--color-text);
}

.alls-IA {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  margin: 0 auto;
  max-width: 370px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  /* background-color: var(--color-card); */
  color: var(--color-card);
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); */
    background-image: url('/assets/pngwing.com.png'); /* Ruta a tu imagen de marco */
    background-position: center;
    padding: 20px; /* Espacio dentro del marco para el contenido de la tarjeta */
  border-radius: 10px;
  border: 5px solid #EED09D;
    
}

.card.hidden {
  display: none;
}


.etiqueta {
  background-color: #333;
  width: 50px;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); */
}

.link a {
  background-color: var(--color-botones);
  color: var(--color-text);
  text-decoration: none;
  padding: 5px 35px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.link a:hover {
  background-color: #42bfb3;
}

/*pagina*/

.alls-web {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.rw-ui-container {
  width: 200px;
  margin: 0 50px  0;
}

/* Estilos para centrar el formulario */
#contacto{
  margin: 25px auto;
  max-width: 400px;
  color: var(--color-text);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  /*background-color: #333;*/
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDz-CVG3jsEEfE1TXmXNHphGtV43bUkbJ1Fg&usqp=CAU');
  border-radius: 8px;
  border: 5px solid Beige;
}
#contacto > form{
  margin: 0 auto;
  padding: 25px 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form > textarea, form > input{
  max-width: 350px;
  padding: 5px;
  border-radius: 6px;
  background: none;
  color: #ffffff;
  border: 1px solid #444;
  outline: none;
}
form > textarea:focus, form > input:focus{
  outline: 1px solid #6a6a6a;
}
.btn-form-send{
  margin: 0 auto;
  width: 150px;
}


.btn-form-send:hover, .btn-form-send:active{
  cursor: pointer;
  background-color: #555;
}
.footer{
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
 /* background-color: #222;*/
 background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDz-CVG3jsEEfE1TXmXNHphGtV43bUkbJ1Fg&usqp=CAU');
}
.container-footer{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.container-footer-box{
  padding: 25px;
}
.container-footer-box > *{
  display: block;
}
.footer > small{
  margin: 15px 0;
}
/*carga*/
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222; /* Fondo blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.link-error420{
  display: inline-block;
  color: var(--color-text);
  font-size: small;
}
.link-error420:hover, .link-error420:active{
  color: #16e9d0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-overlay.hidden {
  display: none;
}


@media only screen and (max-width: 900px) {
  .hamburger {
    margin: 30px;
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    /*background: #333;*/
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7P4p8pxXi_Bkyo4kBZnnrbi18x1oz6Gt5cg&usqp=CAU');
    background-position: center;
    transition: 0.2;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 400px;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar ul li a {
    margin-bottom: 20px;
    border: 2px solid #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }


  .alls-IA .card {
    width: 80%;
  }

  .alls-web {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 10px 30px;
  }

  .alls-web .card {
    width: 80%;
  }
}  
